.container {
  width: 100%;
  max-width: 800px;
  height: 40px;
  border: solid 2px rgba(151, 150, 150, 0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  justify-content: space-between;

  &__left {
    display: flex;
    align-items: center;
    gap: 1rem;

    & h3 {
      font-size: 1rem;
    }

    & img {
      width: 25px;
      height: auto;
      object-fit: contain;
    }
  }

  &__right {
    display: flex;
    gap: 1rem;
  }
}
